@use "global_scss" as *;


$OPTIONS-SPACING: 1rem;
$UNDERLINE-HEIGHT: .2rem;
$UNDERLINE-WIDTH: calc(100% + 2*$OPTIONS-SPACING);

%button {
  height: 100%;

  @include X-Padding($OPTIONS-SPACING);
  @include Transition($time: 500ms);
  @include ColumnLayout {
    justify-content: space-between;
  }

  &:hover {
    background: var(--button-background-hover); 
  }

  &:hover &__underline {
    width: $UNDERLINE-WIDTH;
  }
}

%button--active {
  background: var(--button-background-active); 

  .button__underline {
    width: $UNDERLINE-WIDTH;
  }

  &:hover {
    background: var(--button-background-active); // Overwrite default color change
  }
}

%button__name {
  flex: 1;
  @include CenterText();
}

%button__underline {
  width: 0;
  height: $UNDERLINE-HEIGHT;
  background: var(--button-underline);

  @include Move($x: -$OPTIONS-SPACING);
  @include Transition($time: 500ms);
}


.button { @extend %button;
  &__name { @extend %button__name; }
  &__underline { @extend %button__underline; }

  &--active { @extend %button--active; }
}