@use "global_scss" as *;
@use "collection_scss" as *;



%media-card {
  aspect-ratio: 1 / 1;
  @include Highlight-Box($color: black);
  @include CoverBackgroundImage();
  @include CenterBackgroundImage();
  @include Transition(200ms);

  &:hover {
    transform: scale(1.01);
    cursor: pointer;
  }
}


.media-card { @extend %media-card; }