// Size
@mixin FillWholeSpace(){
  width: 100%;
  height: 100%;
}


// Padding
@mixin Y-Padding($value){
  padding-top: $value;
  padding-bottom: $value;
}

@mixin X-Padding($value){
  padding-left: $value;
  padding-right: $value;
}


// Margin
@mixin Y-Margin($value){
  margin-top: $value;
  margin-bottom: $value;
}

@mixin X-Margin($value){
  margin-left: $value;
  margin-right: $value;
}


// Border
@mixin Y-Border($value) {
  border-top-width: $value;
  border-bottom-width: $value;
}

@mixin X-Border($value) {
  border-left-width: $value;
  border-right-width: $value;
}


// Border Radius
@mixin RightSide-BorderRadius($radius){
  border-top-right-radius: $radius;
  border-bottom-right-radius: $radius;
}

@mixin TopSide-BorderRadius($radius){
  border-top-right-radius: $radius;
  border-top-left-radius: $radius;
}

@mixin LeftSide-BorderRadius($radius){
  border-top-left-radius: $radius;
  border-bottom-left-radius: $radius;
}

@mixin BottomSide-BorderRadius($radius){
  border-bottom-right-radius: $radius;
  border-bottom-left-radius: $radius;
}