{% load static %}
{% load global_components %}


<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Photos{% endblock title %}</title>
  
  <link rel="stylesheet" href="{% static 'global/styles/reset.css' %}">
  <link rel="stylesheet" href="{% static 'global/styles/base.css' %}">

  <link rel="stylesheet" href="{% static 'global/styles/components/header.css' %}">
  <link rel="stylesheet" href="{% static 'global/styles/components/side-nav.css' %}">
  <link rel="stylesheet" href="{% static 'global/styles/components/button.css' %}">

  {% block base_static %}
  {% endblock base_static %}
</head>
<body>
  <header class="header">
    <button class="header__side-nav-button">
      <img class="header__side-nav-button__icon" src="{% static 'global/images/menu-icon.svg' %}" alt="">
    </button>
    
    <nav class="top-nav">
      {% block top_nav %}
        {% button 
          text='Galeria'
          href='/collection/display/all'
          modifiers_list="['gallery']"
        %}
        {% button 
          text='Albumy'
          href=''
          modifiers_list="['albums']"
        %}
        {% button 
          text='Dodaj Zdjęcia / Filmy'
          href='/collection/upload'
          modifiers_list="['upload']"
        %}
      {% endblock top_nav %}
    </nav>
  </header>

  {% include 'global/components/side-nav.html' %}

  <main class="main">
    {% block base_content %}
    {% endblock base_content %}
  </main>
</body>
</html>