{% load static %}


<aside class="side-nav">
  <nav class="options">
    <a href="" class="option option--display">
      <div class="option-main">
        <img class="option-main__icon" src="{% static 'global/images/display-icon.svg' %}" alt="">
        <div class="option-main__name">Galeria</div>
      </div>

      <div class="option__underline"></div>
    </a>

    <a href="" class="option option--categories">
      <div class="option-main">
        <img class="option-main__icon" src="{% static 'global/images/categories-icon.svg' %}" alt="">
        <div class="option-main__name">Kategorie</div>
      </div>

      <div class="option__underline"></div>
    </a>

    <a href="" class="option option--upload">
      <div class="option-main">
        <img class="option-main__icon" src="{% static 'global/images/upload-icon.svg' %}" alt="">
        <div class="option-main__name">Dodaj Zdjęcia</div>
      </div>

      <div class="option__underline"></div>
    </a>
  </nav>
</aside>