{% extends 'collection/base.html' %}
{% load static %}
{% load string %}
{% load collection_components %}


{% block static %}
  <link rel="stylesheet" href="{% static 'collection/styles/display-all.css' %}">
  <script defer src="{% static 'collection/scripts/media-card-dialog.js' %}"></script>
  {% endblock static %}


{% block top_nav %}
  {% include 'global/components/button.html' with 
    text='Galeria'
    href='/collection/display/all'
    modifiers='active'|split:', '
  %}

  {% include 'global/components/button.html' with 
    text='Albumy'
    href=''
  %}

  {% include 'global/components/button.html' with 
    text='Dodaj Zdjęcia / Filmy'
    href='/collection/upload'
  %}
{% endblock top_nav %}


{% block content %}
  <section class="media-cards">
    {% for media in media_files %}
      {% if media.is_video %}
      {% else %}
        {% media_card 
          src=media.file.url
          alt=media.file.name
          num=forloop.counter
        %}
      {% endif %}
    {% endfor %}
  </section>

  <div class="media-card-dialog" id="media-card-dialog">
    <div class="dialog-content">
      <button class="button-left media-button media-button--left" data-change-media-left>
        <img class="media-button__icon" src="{% static 'global/images/arrow-left-icon.svg' %}" alt="">
      </button>

      <div class="media-display">
        <img class="media-display__image" id="media-display__image">
      </div>

      <button class="button-right media-button media-button--right" data-change-media-right>
        <img class="media-button__icon" src="{% static 'global/images/arrow-right-icon.svg' %}" alt="">
      </button>

      <section class="media-other">
        {% for media in media_files %}
          {% if media.is_video %}
            PUT_VIDEO_HERE
          {% else %}
            {% media_card 
              src=media.file.url
              alt=media.file.name
              class_list="['media-other__image']" 
            %}
          {% endif %}
        {% endfor %}
      </section>
    </div>

    <button class="exit-button" data-close-media-card-dialog>
      <img class="exit-button__icon" src="{% static 'global/images/exit-icon.svg' %}">
    </button>
  </div>
{% endblock content %}