:root {
  --background-dark: var(--black);
  --font-dark: var(--white);
}

:root {
  --background: var(--background-dark);
  --font: var(--font-dark);
}

:root {
  --button-background-hover-dark: var(--black-10);
  --button-background-active-dark: var(--black-30);
  --button-underline-dark: var(--white);
}

:root {
  --button-background-hover: var(--button-background-hover-dark);
  --button-background-active: var(--button-background-active-dark);
  --button-underline: var(--button-underline-dark);
}

:root {
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --black-10: hsl(0, 0%, 10%);
  --black-30: hsl(0, 0%, 15%);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--font);
  background: var(--background);
  display: grid;
  grid-template-areas: "side-nav header" "side-nav main";
  grid-template-columns: 25rem;
  grid-template-rows: 3.5rem;
}
body > .header {
  grid-area: header;
}
body > .side-nav {
  grid-area: side-nav;
}
body > .main {
  grid-area: main;
}
