@mixin globalColors {
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  
  --black-10: hsl(0, 0%, 10%);
  --black-30: hsl(0, 0%, 20%);
  --black-50: hsl(0, 0%, 30%);
  --black-70: hsl(0, 0%, 50%);
  --black-90: hsl(0, 0%, 60%);

  @extend %base;
  @extend %button;
}


%base-dark {
  --background-dark: var(--black);
  --font-dark: var(--white);
}

%base-light {

}

%base {
  @extend %base-dark;
  @extend %base-light;

  --background: var(--background-dark);
  --font: var(--font-dark);
}

%button-dark {
  --button-background-hover-dark: var(--black-10);
  --button-underline-dark: var(--white);
}

%button {
  @extend %button-dark;

  --button-background-hover: var(--button-background-hover-dark);
  --button-underline: var(--button-underline-dark);
}