@use "global_scss" as *;


$TOP-NAV-HEIGHT: 3.5rem;
$SIDE-NAV-WIDTH: 25rem;

body {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background: black;

  @include GridLayout{
    grid: {
      template-areas:
      "side-nav header"
      "side-nav main";

      template-columns: $SIDE-NAV-WIDTH;
      template-rows: $TOP-NAV-HEIGHT;
    }
  }

  @include GridAreas(("header", "side-nav", "main"));
}