@use "global_scss" as *;
@use "collection_scss" as *;


%media-cards {
  $gap-between-photos: .25rem;

  width: 100%;
  padding: $gap-between-photos;
  @include GridLayout{
    gap: $gap-between-photos;
    grid-template-columns: repeat(5, 1fr);
  }
}

.media-cards { @extend %media-cards; }


%media-card-dialog {
  @include FillWholeSpace;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

%dialog-content {
  $media-display-height: 90%;
  $media-button-width: 4rem;

  @include FillWholeSpace;
  @include GridLayout{
    grid: {
      template-areas:
      "button-left media-display button-right"
      "media-other media-other media-other";

      template-rows: $media-display-height calc(100% - $media-display-height);
      template-columns: $media-button-width calc(100% - 2*$media-button-width);
    }

    @include GridAreas((
      "button-left", 
      "button-right", 
      "media-display", 
      "media-other"
    ));
  }
}

%media-button {
  background: var(--background);
  @include Transition();

  &:hover {
    background: var(--button-background-hover);
  }
}

%media-button__icon {
  pointer-events: none;
}

%media-display {
  background: var(--background);
  @include CenterContent;
}

%media-display__image {
  object-fit: contain;
  max-height: 100%;
}

%media-other {
  @include RowLayout;
  height: 100%;
  overflow-x: scroll;
  background: var(--button-background-hover);
}

%exit-button {
  position: absolute;
  top: 0;
  right: 0;
  @include CircleShape(2rem);
  background: var(--background);
}

%exit-button__icon {
  pointer-events: none;
}

%media-other__image {
  filter: brightness(0.5);

  &:hover {
    transform: none;
    filter: none;
  }
}

.media-card-dialog { @extend %media-card-dialog; 
  .dialog-content { @extend %dialog-content;
    .media-button { @extend %media-button; 
      &__icon { @extend %media-button__icon; }
    }
    .media-display { @extend %media-display; 
      &__image { @extend %media-display__image; }
    }
    .media-other { @extend %media-other; 
      &__image { @extend %media-other__image; }
    }
  }

  .exit-button { @extend %exit-button; 
    &__icon { @extend %exit-button__icon }
  }
}