.media-card {
  aspect-ratio: 1/1;
  box-shadow: 1px 1px 0.5rem black;
  object-fit: cover;
  background-size: cover;
  object-position: center;
  background-position: center;
  transition: 200ms ease-in-out;
}
.media-card:hover {
  transform: scale(1.01);
  cursor: pointer;
}
